@import "_slider";

.home-section-wrap {
    margin-top: 30px;
}

.home-section-inner {
    display: flex;
    width: calc(100% - 0px);
    // margin-left: 293px;

    .home-slider-wrap {
        width: 70%;
        padding: 0 15px;
        height: 520px;
    }

    .home-banner-wrap {
        width: 30%;
        padding: 0 15px;
        height: 520px;

        .banner {
            height: calc(50% - 15px);

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 1800px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 67%;
        }

        .home-banner-wrap {
            width: 33%;
        }
    }
}

@media screen and (max-width: 1600px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 65%;
        }

        .home-banner-wrap {
            width: 35%;
        }

        .home-banner-wrap,
        .home-slider-wrap {
            height: 480px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 460px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .home-section-inner {
        width: calc(100% - 0px);
        // margin-left: 276px;
    }

    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 430px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 65%;
        }

        .home-banner-wrap {
            width: 35%;
        }

        .home-banner-wrap,
        .home-slider-wrap {
            height: 400px;
        }
    }
}

@media screen and (max-width: $xl) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 430px;
        }
    }
}

@media screen and (max-width: $md) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 400px;
        }
    }
}

@media screen and (max-width: $sm) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 350px;
        }
    }
}

@media screen and (max-width: 450px) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 300px;
        }
    }
}

@media screen and (max-width: 400px) {
    .home-section-inner {
        .home-banner-wrap,
        .home-slider-wrap {
            height: 250px;
        }
    }
}

@media screen and (max-width: 1255px) {
    .home-section-inner {
        .home-slider-wrap {
            width: 66.9%;
        }

        .home-banner-wrap {
            width: 33.1%;
        }
    }
}

@media screen and (max-width: $xl) {
    .home-section-inner {
        .home-slider-wrap {
            width: 100%;
        }

        .home-banner-wrap {
            display: none;
        }
    }
}

@media screen and (max-width: $lg) {
    .home-section-wrap {
        .home-section-inner {
            width: 100%;
            margin-left: 0;
        }
    }
}

// Why choose us css //

.choose-fls-sec001 {
    background-color: #171827;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    border-radius: 25px 0px 0px 25px;
    width: 100%;
}
.choose-fls-sec001 h4 {
    color: #fff;
}
.choose-fls-sec001 img {
    width: 5vw;
}
.choose-fls-sec001 p {
    color: #fff;
}
.choose-fls-sec002{
    background-color: #0CC0DF;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    width: 100%;
}
.choose-fls-sec002 h4 {
    color: #fff;
}
.choose-fls-sec002 img {
    width: 5vw;
}
.choose-fls-sec002 p {
    color: #fff;
}
.choose-fls-sec003{
    background-color: #171827;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    border-radius: 0px 25px 25px 0px;
    width: 100%;
}
.choose-fls-sec003 h4 {
    color: #fff;
}
.choose-fls-sec003 img {
    width: 5vw;
}
.choose-fls-sec003 p {
    color: #fff;
}

section.choose_fls .container h2 {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    padding: 25px;
}

section.choose_fls .container h6 {
text-align: center;
color: #939393;
padding-bottom: 25px;
line-height: 44px;
font-size: 20px;
font-weight: 500;
}
.contact001 ul li a {
/* display: none !important; */
color: #000;
line-height: 35px;
}
.contact001 h4 {
margin-bottom: 23px;
}
.contact001 ul li a:hover {
/* display: none !important; */
color: #007bff;
}
.contact001 ul li::marker {
color: #fff;
}
.footer-links ul li::marker{
color: #fff;
}
i#show-side-menu {
cursor: pointer;
}


@media screen and (max-width:768px){
.choose_fls001{
    flex-direction: column;
    gap: 15px;
}
.choose-fls-sec001, .choose-fls-sec002, .choose-fls-sec003 {
    border-radius: 25px;
    padding: 35px;
}
.choose-fls-sec001 img,.choose-fls-sec003 img, .choose-fls-sec002 img {
    width: 20vw;
}
}
